Note the importance of the Fetch integration in /cookies/

@hillbrad asked:

> Need anything be said or done about ordering of headers? e.g. if Set-Cookie appears before Content-
> Security-Policy? Or if the policy is in a meta tag?  Do user agents uniformly process all headers before
> getting to storage according to section 5.3 of RFC 6265?

I'm pretty sure all UAs grab all the headers before processing any of them, but I doubt any (including Chrome) process CSP before `Set-Cookies`. That said, we've gotten CSP wedged into the right place in Fetch's HTTP-network fetch algorithm (https://fetch.spec.whatwg.org/#http-network-fetch), so at least from the textual side we're covered.

We should add a note to the doc that spells that out in more detail.


We dropped this bit of CSP entirely.