Grammar: Clarity regarding constraints applied to path-part (path-absolute) production

In [2.3 Directives][1] the following broad grammar is given for the directive-value production:

```
directive-value = *( %x09 / %x20-%x2B / %x2D-%x3A / %x3C-%7E )
                ; Directive values may contain whitespace and VCHAR characters,
                ; excluding ";" and ","
```

Known directives define refinement grammars for their directive-values. Most of them use [serialized-source-list][2], which is:

- inclusive of [source-expression][3] which is
- inclusive of [host-source][4] which is 
- inclusive of [path-part][5] which is
- inclusive of [path-absolute][6] which is
- inclusive of [segment-nz and segment][6] which are
- inclusive of [pchar][6] which is
- inclusive of [sub-delims][7] which is
- inclusive of "," and ";"

This isn’t an ambiguity when the [parsing algorithm][8] from the top level is applied, because it ensures that any such commas and semicolons would end up recognized as delimiters first — they will just never appear in the values, then. But often it’s valuable for grammar productions to not have a dependency on preprocessing like this unless it’s made explicit (“to parse any of these productions, first...”). In my case I ran into it because I needed to verify whether individual serialized source expression values were valid, and applying the grammar as specified for source-expression turned out to be insufficient on its own.

One idea would be to add qualifying prose where path-absolute is referenced. For example:

```
path-part   = path-absolute (but not including ";" or ",")
            ; path-absolute is defined in section 3.3 of RFC 3986.
```

---

_It seems there was some [related prior discussion](https://github.com/w3c/webappsec-csp/issues/36). There was some disagreement about whether a ";" was or was not legal in a URL. I’m not suggesting any change to current behavior, just the addition of text to clarify that the RFC 3986 production which is being referenced there is constrained at the point of reference, instead of only implicitly by way of the "top level" parsing algorithms._

[1]: https://w3c.github.io/webappsec-csp/#framework-directives
[2]: https://w3c.github.io/webappsec-csp/#grammardef-serialized-source-list
[3]: https://w3c.github.io/webappsec-csp/#grammardef-source-expression
[4]: https://w3c.github.io/webappsec-csp/#grammardef-host-source
[5]: https://w3c.github.io/webappsec-csp/#grammardef-path-part
[6]: https://tools.ietf.org/html/rfc3986#section-3.3
[7]: https://tools.ietf.org/html/rfc3986#section-2.2
[8]: https://w3c.github.io/webappsec-csp/#parse-serialized-policy-list
